
.box1 {
    background-color: #d5c2c2;
    color: black;
    width: 22%;
    height: 290px;
    float: left;
    margin-top: 88px;
    margin-left: 513px;
    padding-top: 1px;
    text-align: center;
    
}